@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: #3f3f46 #18181c;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: system-ui, sans-serif;
	background: #18181c;
	color: #f1f5f9;
	color-scheme: dark;
}

input, select, textarea {
	color-scheme: dark;
}
